// COLORS
$color-primary: #55c57a;
$color-white: #fff;
$color-gray-dark: #777;

// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;
// $color-gray-dark-2: #999;
// $color-gray-dark-3: #333;

// $color-black: #000;
// $color-gray-light-1: #f7f7f7;
// $color-gray-light-2: #eee;

// $color-secundary-light: #FFB900;
// $color-secundary-dark: #FF7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;


// FONT

$default-font-size: 1.6rem;

